<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%}</title>
    
    <link rel="stylesheet" href="css/common.css">
    {% block style %} {% endblock %}
</head>
<body>
    <nav>我是导航</nav>
    <div>{% block content %}{% endblock %}</div>
    <div class="footer">我是底部</div> 
</body>

<!-- 包含模板 -->

{% include "./script.html" %}

{% block javascript %} {% endblock %}
</html>